* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: pink!important; 
    font-family: 'Fraunces', serif;
    border: 1px solid white;
    box-shadow: 20px 20px 50px 10px #BA68C8 inset;
}
.logo{
	display: flex;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	align-items: center;
	font-family: 'Lobster', cursive;
}
.logo img{
	border:1px solid pink;
	border-radius: 50%;
	height: 10%;
	width: 10%;
}
.nav-links{
	border: 5px solid white;
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px;
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 70%;
	height: 50px;
	background-color: white;
}
.nav-links li{
	list-style: none;
}
.nav-links a{
	color: pink;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;

}
.burger {
	display: none;
}
.burger div{
	width: 25px;
	height: 5px;
	background: white;
	margin: 5px;
	transition: all 0.3s ease;
}
.container h1{
	font-family: 'Lobster', cursive;
	text-shadow: 2px 2px #BA68C8; 
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.text-footer{ 
	color: white;
	font-family: 'Lobster', cursive;
	text-align: center;
	max-width: 90%
	margin: auto;
	height: 30px;
	background-color: #45194d;

}
.
@media screen and (max-width: 1024px){
	.nav-links{
		margin: auto;
		width: 60%;
	}
}

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
		background: #ffcdd2;	
	}
	
}


